/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 10, 2023, 10:58:31 PM
    Author     : hieu69
*/
#banner {
    background-color: #000;
    color: #fff;
    padding: 3% 0 5%;
    text-align: center;
}
#banner p {
    margin-top: 16px;
    color: rgb(114, 132, 143);
}
/* Content */
#content {
    margin-top: 10%;
}

.row {
    margin: 0 3% 0;
}

#footer {
    background-color: #000;
    text-align: center;
    padding: 7% 15%;
    color: #fff;
}
